@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: "Rubik-Regular";
	font-display: swap;
	src: url("../fonts/Rubik-Regular.woff2") format("woff2");
}

@font-face {
	font-weight: 500;
	font-style: normal;
	font-family: "Rubik-Medium";
	font-display: swap;
	src: url("../fonts/Rubik-Medium.woff2") format("woff2");
}

@font-face {
	font-weight: 700;
	font-style: normal;
	font-family: "Rubik-Bold";
	font-display: swap;
	src: url("../fonts/Rubik-Bold.woff2") format("woff2");
}
