{% extends '../main.twig' %}
{% block main %}
	<section class="hero hero--about">
		<div class="hero_container container">
			<h2 class="hero_title">
				Экспертная мультиязычная контент-редакция
			</h2>
			<p class="hero_subtitle">
				Создаем эффективные тексты для digital-продвижения по всему миру.
			</p>
			<a href="index.html" class="hero_link">
				Связаться с редакцией
			</a>
		</div>
	</section>
	<section class="order">
		<div class="order__container container">
			<h2 class="order__title">
				Заказать контент у нас
			</h2>
			<form action="index.html" class="order__form">
				<input type="text" class="order__form-input" placeholder="Ваше имя">
				<input type="email" class="order__form-input" placeholder="Ваше e-mail">
				<input type="text" class="order__form-input" placeholder="Напишите тематику и язык контента">
				<button type="submit" class="order__form-button">
					Узнать цену
				</button>
				<a href="index.html" class="order__link">Связаться с командой</a>
			</form>
		</div>
	</section>
	<section class="catalog">
		<div class="catalog__container container">
			<h2 class="catalog__title">
				Как мы помогаем бизнесу?
			</h2>
			<ul class="catalog__list">
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							Мультиязычный SEO-копирайтинг
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Напишем экспертные SEO-оптимизированные статьи на 30+ языках</p>
							<p class="catalog__list-item-text">В команде – копирайтеры, редакторы и пруфридеры – носители языка</p>
							<p class="catalog__list-item-text">Сделаем скидки на крупные заказы (от 300 000 слов в месяц)</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							Локализация контента
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Переведем и адаптируем ваш сайт и любой digital-контент на 30+ языков</p>
							<p class="catalog__list-item-text">Подключим к проекту редакторов – носителей языка целевого рынка продвижения вашего бизнеса</p>
							<p class="catalog__list-item-text">Дополнительно сделаем парсинг, контент-менеджмент и редизайн материалов</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							Ведение SEO-блога под ключ
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Приведем целевой трафик в ваш блог без дополнительных бюджетов на рекламу</p>
							<p class="catalog__list-item-text">Мы берем на себя: работу контент-маркетологов, SEO-специалистов, авторов-экспертов, редакторов, дизайнеров, контент-менеджеров</p>
							<p class="catalog__list-item-text">Можем работать по индивидуальному плану или оформить ежемесячную подписку, которая включает публикацию нужного количества блог-постов в месяц под ключ</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							Запуск корпоративного СМИ
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Создадим редполитику, дизайн и контент-стратегию для digital-СМИ вашего бренда</p>
							<p class="catalog__list-item-text">Соберем контент-редакцию и наладим серийное произвводство статей</p>
							<p class="catalog__list-item-text">Разработаем и внедрим план взаимодействия с вашим отделом маркетинга и продаж,чтобы СМИ приносило как можно больше трафика, лидов и прибыли.</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							Ведение Телеграм-канала
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Создадим редполитику, дизайн и контент-стратегию для digital-СМИ вашего бренда</p>
							<p class="catalog__list-item-text">Составим контент-план и стратегию продвижения канала</p>
							<p class="catalog__list-item-text">Разработаем и внедрим план взаимодействия с вашим отделом маркетинга и продаж,чтобы СМИ приносило как можно больше трафика, лидов и прибыли.</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							Ведение Instagram-аккаунта
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Разработаем концепцию и визуальную айдентику Instagram-аккаунта для вашего бизнеса</p>
							<p class="catalog__list-item-text">Составим Instagram-стратегию в соответствии с бизнес-целями компании</p>
							<p class="catalog__list-item-text">Возьмем на себя написание, дизайн, публикацию и продвижение постов, stories, и reels</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							Ведение LinkedIn-аккаунта
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Разработаем концепцию и визуальную айдентику LinkedIn-аккаунта вашего бизнеса</p>
							<p class="catalog__list-item-text">Проанализируем ЦА и Конкурентов. Составим LinkedIn-стратегию в соответствии с бизнес-целями компании</p>
							<p class="catalog__list-item-text">Возьмем на себя написание, дизайн и публикацию постов</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							Ведение корпоративного блога на Яндекс-Дзен
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Изучим конкурентов, разработаем эффективный контент-план, нейминг и визуальную айдентику канала</p>
							<p class="catalog__list-item-text">Напишем, оформим и опубликуем контент, подключим аналитику</p>
							<p class="catalog__list-item-text">Разработаем и внедрим план взаимодействия с вашим отделом маркетинга и продаж, чтобы канал приносил как можно больше трафика, лидов и прибыли для бизнеса.</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							Ведение блога на VC, Habr, Medium
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Создадим редполитику, дизайн и контент-стратегию для блога вашей компании</p>
							<p class="catalog__list-item-text">Напишем, оформим и опубликуем контент, подключим аналитику</p>
							<p class="catalog__list-item-text">Разработаем и внедрим план взаимодействия с вашим отделом маркетинга и продаж, чтобы канал приносил как можно больше трафика, лидов и прибыли для бизнеса.</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							Создание кейсов для tech-проектов под ключ
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Создадим структуру кейса, проведем глубинное интервью с командой проекта</p>
							<p class="catalog__list-item-text">Напишем кейс, опираясь на технические и бизнес-параметры проекта.</p>
							<p class="catalog__list-item-text">Готовый материал проиллюстрируем и опубликуем в вашей CMS или на внешней площадке</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							Написание Whitepapers для tech-проектов
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Проведем глубинное исследование кейсов компании и рынка</p>
							<p class="catalog__list-item-text">Напишем Whitepaper с редактурой от IT-экспертов нашей команды и соблюдением требований площадки распространения материала.</p>
							<p class="catalog__list-item-text">Оформим Whitepaper в брендовом дизайне вашей компании</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							PR контент, интервью и исследования
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Проведем глубинные интервью с ЛПР вашей компании</p>
							<p class="catalog__list-item-text">Напишем качественные PR-материалы в Tier-1 издания на руссском и английском языке</p>
							<p class="catalog__list-item-text">Сделаем качественные data-driven исследования и оформим в брендовый материал от вашей компании</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							Создание landing pages, pitch-decks, лид-магнитов и презентаций
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Проведем исследование рыннка и спроектируем макет продающих материалов на основе брендинга вашей компании или создадим их с нуля.</p>
							<p class="catalog__list-item-text">Напишем качественные продающие тексты для landing pages, рекламных кампаний, pitch-decks, презентаций и лид-магнитов.</p>
							<p class="catalog__list-item-text">Поработаем в тесном взаимодействии с вашим отделом маркетинга, чтобы контент приносил как можно больше трафика, лидов и прибыли для бизнеса,
							</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
				<li>
					<div class="catalog__list-item">
						<h2 class="catalog__list-item-title">
							Контент-стратегия
						</h2>
						<div class="catalog__list-item-text-wrapper">
							<p class="catalog__list-item-text">Проведем анализ рынка, ЦА и конкурентов</p>
							<p class="catalog__list-item-text">Разработаем максимально эффективную стратегию для вашего бизнеса, определим ключевые метрики контент-аналитики</p>
							<p class="catalog__list-item-text">Создадим матрицу контента, сегментированную по портрета целевых аудиторий бизнеса и определим площадки публикации контента</p>
							<button type="button" class="catalog__list-button">
								Узнать больше
							</button>
							<a href="index.html" class="catalog__list-link">Написать главному редактору</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="clients">
		<div class="clients__container container">
			<h2 class="clients__title">
				Нам доверяют
			</h2>
			<div class="splide" id="case-splide-5">
				<div class="splide__track">
					<ul class="splide__list">
						<li class="splide__slide">
							<div class="clients__slide-wrapper">
								<img src="./images/client-1.jpg" alt="Логотип клиента" class="clients__slide-image">
								<img src="./images/client-2.jpg" alt="Логотип клиента" class="clients__slide-image">
								<img src="./images/client-3.jpg" alt="Логотип клиента" class="clients__slide-image">
								<img src="./images/client-4.jpg" alt="Логотип клиента" class="clients__slide-image">
							</div>
						</li>
						<li class="splide__slide">
							<div class="clients__slide-wrapper">
								<img src="./images/client-5.jpg" alt="Логотип клиента" class="clients__slide-image">
								<img src="./images/client-6.jpg" alt="Логотип клиента" class="clients__slide-image">
								<img src="./images/client-7.jpg" alt="Логотип клиента" class="clients__slide-image">
								<img src="./images/client-8.jpg" alt="Логотип клиента" class="clients__slide-image">
							</div>
						</li>
						<li class="splide__slide">
							<div class="clients__slide-wrapper">
								<img src="./images/client-9.jpg" alt="Логотип клиента" class="clients__slide-image">
								<img src="./images/client-10.jpg" alt="Логотип клиента" class="clients__slide-image">
								<img src="./images/client-11.jpg" alt="Логотип клиента" class="clients__slide-image">
								<img src="./images/client-12.jpg" alt="Логотип клиента" class="clients__slide-image">
							</div>
						</li>
						<li class="splide__slide">
							<div class="clients__slide-wrapper">
								<img src="./images/client-13.jpg" alt="Логотип клиента" class="clients__slide-image">
								<img src="./images/client-14.jpg" alt="Логотип клиента" class="clients__slide-image">
								<img src="./images/client-15.jpg" alt="Логотип клиента" class="clients__slide-image">
								<img src="./images/client-16.jpg" alt="Логотип клиента" class="clients__slide-image">
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="my-carousel-progress clients-progress">
				<div class="my-carousel-progress-bar clients-progress"></div>
			</div>
		</div>
	</section>
	<section class="doings">
		<div class="doings__container container">
			<form action="index.html" class="doings__form">
				<h2 class="doings__form-title">
					Наши кейсы
				</h2>
				<p class="doings__form-text">За 10 лет опыта мы накопили сотни кейсов в нишах IT, iGaming, FinTech, Digital Marketing, SEO, Crypto, Ecommerce и Real Estate.</p>
				<p class="doings__form-text">Введите нишу вашего бизнеса, а мы покажем наши контент-результаты в похожих проектах.</p>

				<input type="text" class="doings__form-input" placeholder="Ваше имя">
				<input type="email" class="doings__form-input" placeholder="Ваше e-mail">
				<input type="text" class="doings__form-input" placeholder="Бизнес-ниша">
				<button type="submit" class="doings__form-button">
					Покажите кейсы
				</button>
			</form>
		</div>
	</section>
	<section class="command">
		<div class="command__container container">
			<h2 class="command__title">
				Команда Контентим
			</h2>
			<div class="command__selected-wrapper">
				<span class="command__selected-categories">
					Выбор категории
				</span>
			</div>
			<ul class="command__list">
				<li>
					<div class="command__image-wrapper">
						<img src="./images/com-1.webp" alt="Фотография участника команды Контентим" class="command__list-image">
					</div>
					<h3 class="command__list-name">
						Владимир Калякин
					</h3>
					<span class="command__list-role">
						CEO &amp; Founder
					</span>
					<p class="command__list-author-cite">
						“Путешествую по разным странам и наживаю друзей. Потом добавляю их на эту страницу”
					</p>
				</li>
				<li>
					<div class="command__image-wrapper">
						<img src="./images/com-2.webp" alt="Фотография участника команды Контентим" class="command__list-image">
					</div>
					<h3 class="command__list-name">
						Ирина Сун
					</h3>
					<span class="command__list-role">
						Chief Visionery Officer
					</span>
					<p class="command__list-author-cite">
						“В свободное время смотрю документалки о великих вымираниях, поклоняюсь эволюции”
					</p>
				</li>
				<li>
					<div class="command__image-wrapper">
						<img src="./images/com-3.webp" alt="Фотография участника команды Контентим" class="command__list-image">
					</div>
					<h3 class="command__list-name">
						Алина Сазонова
					</h3>
					<span class="command__list-role">
						Head of Multilingual Content
					</span>
					<p class="command__list-author-cite">
						“Открыла ветеринарную клинику. В Sims”
					</p>
				</li>
				<li>
					<div class="command__image-wrapper">
						<img src="./images/com-4.webp" alt="Фотография участника команды Контентим" class="command__list-image">
					</div>
					<h3 class="command__list-name">
						Александра Шестопалова
					</h3>
					<span class="command__list-role">
						Head of Marketing
					</span>
					<p class="command__list-author-cite">
						“Маркетолог днем, по ночам – фронтвуман монгольской инди-группы”
					</p>
				</li>
				<li>
					<div class="command__image-wrapper">
						<img src="./images/com-5.webp" alt="Фотография участника команды Контентим" class="command__list-image">
					</div>
					<h3 class="command__list-name">
						Анастасия Плесковских
					</h3>
					<span class="command__list-role">
						Financial Accountant
					</span>
					<p class="command__list-author-cite">
						“Люблю цифры, таблицы, сложные формулы и автоматизацию процессов”
					</p>
				</li>
				<li>
					<div class="command__image-wrapper">
						<img src="./images/com-6.webp" alt="Фотография участника команды Контентим" class="command__list-image">
					</div>
					<h3 class="command__list-name">
						Ярослав Чистопашин
					</h3>
					<span class="command__list-role">
						Chief Legal Officer
					</span>
					<p class="command__list-author-cite">
						“Обожаю научную фантастику, упиваюсь работами С. Лукьяненко”
					</p>
				</li>
				<li>
					<div class="command__image-wrapper">
						<img src="./images/com-7.webp" alt="Фотография участника команды Контентим" class="command__list-image">
					</div>
					<h3 class="command__list-name">
						Юлия Кустова
					</h3>
					<span class="command__list-role">
						Head of HR
					</span>
					<p class="command__list-author-cite">
						“Проехала всю Россию автостопом, на очереди Казахстан”
					</p>
				</li>
				<li>
					<div class="command__image-wrapper">
						<img src="./images/com-8.webp" alt="Фотография участника команды Контентим" class="command__list-image">
					</div>
					<h3 class="command__list-name">
						Настя Бобылева
					</h3>
					<span class="command__list-role">
						Chief Editor
					</span>
					<p class="command__list-author-cite">
						“Я спасала ирландский парк от растений-паразитов, а в свободное время друзей от скуки”
					</p>
				</li>
				<li>
					<div class="command__image-wrapper">
						<img src="./images/com-9.webp" alt="Фотография участника команды Контентим" class="command__list-image">
					</div>
					<h3 class="command__list-name">
						Victoria Michael
					</h3>
					<span class="command__list-role">
						Chief Editor
					</span>
					<p class="command__list-author-cite">
						“I run my own perfume house and create whimsical, out-of-the-box fragrances to suit unique personalities”
					</p>
				</li>
				<li>
					<div class="command__image-wrapper">
						<img src="./images/com-10.webp" alt="Фотография участника команды Контентим" class="command__list-image">
					</div>
					<h3 class="command__list-name">
						Дарья Кочкина
					</h3>
					<span class="command__list-role">
						Chief Editor
					</span>
					<p class="command__list-author-cite">
						“Жила в Китае полтора года. Ездила одна по тибетским деревням”
					</p>
				</li>
			</ul>
			<p class="command__text">Всего в Контентим 250 сотрудников. Начните с нами работать, и вы познакомитесь с прекрасными контент-маркетологами, авторами, редакторами и экспертами!</p>
			<button type="button" class="command__button">Показать всех</button>
		</div>
	</section>
	<section class="videos">
		<div class="videos__container container">
			<h3 class="videos__title">
				Посмотрите видео от наших редакторов
			</h3>
		</div>
		<div class="splide" id="case-splide-6">
			<div class="splide__track">
				<ul class="splide__list">
					<li class="splide__slide">
						<img src="https://hsto.org/files/eb5/343/b26/eb5343b2635344a098e18b65b6dd42fa.jpg" alt="">
					</li>
					<li class="splide__slide">
						<img src="https://hsto.org/files/eb5/343/b26/eb5343b2635344a098e18b65b6dd42fa.jpg" alt="">
					</li>
					<li class="splide__slide">
						<img src="https://hsto.org/files/eb5/343/b26/eb5343b2635344a098e18b65b6dd42fa.jpg" alt="">
					</li>
					<li class="splide__slide">
						<img src="https://hsto.org/files/eb5/343/b26/eb5343b2635344a098e18b65b6dd42fa.jpg" alt="">
					</li>
				</ul>
			</div>
		</div>
		<div class="my-carousel-progress">
			<div id="carousel-2" class="my-carousel-progress-bar"></div>
		</div>
	</section>
	<section class="question">
		<div class="question__container container">
			<form action="index.html" class="question__form">
				<h2 class="question__form-title">
					Задайте нам вопрос
				</h2>
				<p class="question__text">
					Задайте нам вопрос, и профильный редактор свяжется с вами в течение дня!
				</p>
				<input type="text" class="question__form-input" placeholder="@ телеграмм">
				<input type="email" class="question__form-input" placeholder="Ваше e-mail">
				<input type="text" class="question__form-input" placeholder="Ваш вопрос">
				<button type="submit" class="question__form-button">
					Задать вопрос
				</button>
			</form>
		</div>
	</section>
{% endblock %}
