{% block case_example_post %}
	<div class="desktop-slide">
		<div class="cases_sample">
			<div class="cases_sapmple-item">
				<div class="cases_wrapper-image">
					<span class="cases_sapmple-mark">Кейсы</span>
					<img src="./images/slide-image.webp" alt="Фото нашего кейса" width="285" height="160" class="cases_sapmple-image cases_sapmple-image--desktop">
				</div>
				<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
				<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
			</div>
		</div>
		<div class="cases_sample">
			<div class="cases_sapmple-item">
				<div class="cases_wrapper-image">
					<span class="cases_sapmple-mark">Кейсы</span>
					<img src="./images/slide-image.webp" alt="Фото нашего кейса" width="285" height="160" class="cases_sapmple-image cases_sapmple-image--desktop">
				</div>
				<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
				<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
			</div>
		</div>
		<div class="cases_sample">
			<div class="cases_sapmple-item">
				<div class="cases_wrapper-image">
					<span class="cases_sapmple-mark">Кейсы</span>
					<img src="./images/slide-image.webp" alt="Фото нашего кейса" width="285" height="160" class="cases_sapmple-image cases_sapmple-image--desktop">
				</div>
				<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
				<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
			</div>
		</div>
		<div class="cases_sample">
			<div class="cases_sapmple-item">
				<div class="cases_wrapper-image">
					<span class="cases_sapmple-mark">Кейсы</span>
					<img src="./images/slide-image.webp" alt="Фото нашего кейса" width="285" height="160" class="cases_sapmple-image cases_sapmple-image--desktop">
				</div>
				<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
				<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
			</div>
		</div>
	</div>
{% endblock %}
