{% extends '../main.twig' %}
{% block main %}
	<main>
		<section class="hero">
			<div class="hero_container hero_container--index hero container ">
				<h2 class="hero_title">
					Контентим
				</h2>
				<p class="hero_subtitle">
					Знаем все о контент-продвижении бизнеса на международном рынке.
				</p>
				<a href="index.html" class="hero_link">
					Связаться с редакцией
				</a>
			</div>
		</section>
		<section class="cases">
			<div class="cases_container container">
				<div class="cases category">
					<a href="index.html" class="category-link link-active">В трендах</a>
					<a href="index.html" class="category-link">Категория 1</a>
					<a href="index.html" class="category-link">Категория 2</a>
					<a href="index.html" class="category-link">Категория 3</a>
				</div>
				<div class="cases_select">
					<span class="cases_select-span">Выбор категории:</span>
					<div class="choice-container">
						<select class="js-choice js-choice-main">
							<option value="trends">В трендах</option>
							<option value="category-1">Категория 1</option>
							<option value="category-2">Категория 2</option>
							<option value="category-3">Категория 3</option>
							<option value="category-3">Категория 4</option>
						</select>
					</div>
				</div>
				<div class="desktop-wrapper">
					<h2 class="cases_title">
						Наши-кейсы
					</h2>
					<div class="desktop-wrapper__slides">
						<div class="desktop-wrapper__left-side">
							<div class="cases_sample">
								<div class="cases_sapmple-item">
									<div class="cases_wrapper-image">
										<span class="cases_sapmple-mark">Кейсы</span>
										<picture>
											<source srcset="./images/cases-desktop-bg.webp" media="(min-width: 769px)">
											<img src="./images/feachured.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
										</picture>
									</div>
									<h3 class="cases_sapmple-title">Запуск СМИ для FinTech-маркетплейса</h3>
									<p class="cases_sample-subtitle">Рассмотрим как мы можем настроить внешний вид и какие</p>
								</div>
							</div>
						</div>
						<div class="desktop-wrapper__right-side">
							{% include 'slider-mobile-1.twig' %}
							{% include 'slider-desktop-1.twig' %}
						</div>
					</div>
				</div>
			</div>
			<div class="cases-order-section">
				<div class="cases_order container">
					<div class="cases_order__wrapper">
						<h3 class="cases_order-title">Заказать контент у нас</h3>
						<p class="cases_order-subtitle">
							Более 10 лет пишем экспертные тексты для бизнеса на 30+ языках
						</p>
					</div>
					<a href="index.html" class="cases_order-link">
						Связаться с командой
					</a>
				</div>
			</div>
			<div class="cases_container container">
				<div class="desktop-wrapper">
					<h2 class="cases_title">
						Материалы 2
					</h2>
					<div class="cases__slider-wrapper">
						{% include 'cases__example.twig' %}
						<div class="slider-mobile">
							{% include 'slider-mobile-2.twig' %}
						</div>
						{% include 'slider-3.twig' %}
					</div>
				</div>
			</div>
			<div class="cases_container container">
				<div class="desktop-wrapper">
					<h2 class="cases_title">
						Материалы 3
					</h2>
					<div class="cases__slider-wrapper">
						<div class="lifehack">
							<div class="lifehack_wrapper">
								<img src="./images/lifehack.webp" alt="Фотография поста" class="lifehack_image">
								<div class="lifehack_wrapper-item">
									<span class="lifehack_span">Лайфхаки</span>
									<h3 class="lifehack_title">Настройки внешнего вида и не только</h3>
									<p class="lifehack_text">Рассмотрим как мы можем настроить внешний вид и какие</p>
								</div>
							</div>
							<div class="lifehack_wrapper">
								<img src="./images/lifehack.webp" alt="Фотография поста" class="lifehack_image">
								<div class="lifehack_wrapper-item">
									<span class="lifehack_span">Лайфхаки</span>
									<h3 class="lifehack_title">Настройки внешнего вида и не только</h3>
									<p class="lifehack_text">Рассмотрим как мы можем настроить внешний вид и какие</p>
								</div>
							</div>
							<div class="lifehack_wrapper">
								<img src="./images/lifehack.webp" alt="Фотография поста" class="lifehack_image">
								<div class="lifehack_wrapper-item">
									<span class="lifehack_span">Лайфхаки</span>
									<h3 class="lifehack_title">Настройки внешнего вида и не только</h3>
									<p class="lifehack_text">Рассмотрим как мы можем настроить внешний вид и какие</p>
								</div>
							</div>
							<div class="lifehack_wrapper">
								<img src="./images/lifehack.webp" alt="Фотография поста" class="lifehack_image">
								<div class="lifehack_wrapper-item">
									<span class="lifehack_span">Лайфхаки</span>
									<h3 class="lifehack_title">Настройки внешнего вида и не только</h3>
									<p class="lifehack_text">Рассмотрим как мы можем настроить внешний вид и какие</p>
								</div>
							</div>
						</div>
						{% include 'cases__example_two.twig' %}
						<div class="slider-mobile">
							{% include 'slider-mobile-4.twig' %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

{% endblock %}
