{% extends '../main.twig' %}
{% block main %}
	<main>
		<section class="hero">
			<div class="hero_container hero container">
				<h2 class="hero_title">
					Контентим
				</h2>
				<p class="hero_subtitle">
					Знаем все о контент-продвижении бизнеса на международном рынке.
				</p>
				<a href="index.html" class="hero_link">
					Связаться с редакцией
				</a>
			</div>
		</section>
		<section class="cases">
			<div class="cases_container container">
				<div class="case-category">
					<a href="index.html" class="case-category-link case-category-link--active">В трендах</a>
					<a href="index.html" class="case-category-link">Категория 1</a>
					<a href="index.html" class="case-category-link">Категория 2</a>
					<a href="index.html" class="case-category-link">Категория 3</a>
				</div>
				<div class="cases_select">
					<span class="cases_select-span">Выбор категории:</span>
					<div class="choice-container">
						<select class="js-choice">
							<option value="trends">В трендах</option>
							<option value="category-1">Категория 1</option>
							<option value="category-2">Категория 2</option>
							<option value="category-3">Категория 3</option>
						</select>
					</div>
				</div>
				<div class="desktop-wrapper">
					<div class="desktop-wrapper__left-side">
						<h2 class="cases_title">
							Наши-кейсы
						</h2>
						<div class="cases_sample">
							<div class="cases_sapmple-item">
								<div class="cases_wrapper-image">
									<span class="cases_sapmple-mark">Кейсы</span>
									<picture>
										<source srcset="./images/cases-desktop-bg.webp" media="(min-width: 769px)">
										<img src="./images/index-bg-mobile.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
									</picture>
								</div>
								<h3 class="cases_sapmple-title">Запуск СМИ для FinTech-маркетплейса</h3>
								<p class="cases_sample-subtitle">Рассмотрим как мы можем настроить внешний вид и какие</p>
							</div>
						</div>
					</div>
					<div class="desktop-wrapper__right-side">
						<div class="splide splide-mobile" id="case-splide-1">
							<div class="splide__track">
								<ul class="splide__list">
									<li class="splide__slide">
										<div class="cases_sample">
											<div class="cases_sapmple-item">
												<div class="cases_wrapper-image">
													<span class="cases_sapmple-mark">Кейсы</span>
													<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
												</div>
												<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
												<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
											</div>
										</div>
									</li>
									<li class="splide__slide">
										<div class="cases_sample">
											<div class="cases_sapmple-item">
												<div class="cases_wrapper-image">
													<span class="cases_sapmple-mark">Кейсы</span>
													<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
												</div>
												<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
												<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
											</div>
										</div>
									</li>
									<li class="splide__slide">
										<div class="cases_sample">
											<div class="cases_sapmple-item">
												<div class="cases_wrapper-image">
													<span class="cases_sapmple-mark">Кейсы</span>
													<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
												</div>
												<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
												<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="splide splide-desktop" id="case-splide-desktop-1">
							<div class="splide__arrows  splide__arrows--desktop"></div>
							<div class="splide__track">
								<ul class="splide__list">
									<li class="splide__slide">
										<div class="desktop-slide">
											<div class="cases_sample">
												<div class="cases_sapmple-item">
													<div class="cases_wrapper-image">
														<span class="cases_sapmple-mark">Кейсы</span>
														<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image cases_sapmple-image--desktop">
													</div>
													<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
													<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
												</div>
											</div>
											<div class="cases_sample">
												<div class="cases_sapmple-item">
													<div class="cases_wrapper-image">
														<span class="cases_sapmple-mark">Кейсы</span>
														<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image cases_sapmple-image--desktop">
													</div>
													<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
													<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
												</div>
											</div>
											<div class="cases_sample">
												<div class="cases_sapmple-item">
													<div class="cases_wrapper-image">
														<span class="cases_sapmple-mark">Кейсы</span>
														<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image cases_sapmple-image--desktop">
													</div>
													<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
													<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
												</div>
											</div>
											<div class="cases_sample">
												<div class="cases_sapmple-item">
													<div class="cases_wrapper-image">
														<span class="cases_sapmple-mark">Кейсы</span>
														<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image cases_sapmple-image--desktop">
													</div>
													<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
													<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
												</div>
											</div>
										</div>
									</li>
									<li class="splide__slide">
										<div class="desktop-slide">
											<div class="cases_sample">
												<div class="cases_sapmple-item">
													<div class="cases_wrapper-image">
														<span class="cases_sapmple-mark">Кейсы</span>
														<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image cases_sapmple-image--desktop">
													</div>
													<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
													<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
												</div>
											</div>
											<div class="cases_sample">
												<div class="cases_sapmple-item">
													<div class="cases_wrapper-image">
														<span class="cases_sapmple-mark">Кейсы</span>
														<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image cases_sapmple-image--desktop">
													</div>
													<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
													<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
												</div>
											</div>
											<div class="cases_sample">
												<div class="cases_sapmple-item">
													<div class="cases_wrapper-image">
														<span class="cases_sapmple-mark">Кейсы</span>
														<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image cases_sapmple-image--desktop">
													</div>
													<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
													<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
												</div>
											</div>
											<div class="cases_sample">
												<div class="cases_sapmple-item">
													<div class="cases_wrapper-image">
														<span class="cases_sapmple-mark">Кейсы</span>
														<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image cases_sapmple-image--desktop">
													</div>
													<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
													<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
												</div>
											</div>
										</div>
									</li>
									<li class="splide__slide">
										<div class="desktop-slide">
											<div class="cases_sample">
												<div class="cases_sapmple-item">
													<div class="cases_wrapper-image">
														<span class="cases_sapmple-mark">Кейсы</span>
														<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image cases_sapmple-image--desktop">
													</div>
													<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
													<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
												</div>
											</div>
											<div class="cases_sample">
												<div class="cases_sapmple-item">
													<div class="cases_wrapper-image">
														<span class="cases_sapmple-mark">Кейсы</span>
														<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image cases_sapmple-image--desktop">
													</div>
													<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
													<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
												</div>
											</div>
											<div class="cases_sample">
												<div class="cases_sapmple-item">
													<div class="cases_wrapper-image">
														<span class="cases_sapmple-mark">Кейсы</span>
														<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image cases_sapmple-image--desktop">
													</div>
													<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
													<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
												</div>
											</div>
											<div class="cases_sample">
												<div class="cases_sapmple-item">
													<div class="cases_wrapper-image">
														<span class="cases_sapmple-mark">Кейсы</span>
														<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image cases_sapmple-image--desktop">
													</div>
													<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
													<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cases_order">
				<h3 class="cases_order-title">Заказать контент у нас</h3>
				<p class="cases_order-subtitle">
					Более 10 лет пишем экспертные тексты для бизнеса на 30+ языках
				</p>
				<a href="index.html" class="cases_order-link">
					Связаться с командой
				</a>
			</div>
			<div class="cases_container container">
				<h2 class="cases_title">
					Материалы 2
				</h2>
				<div class="splide" id="case-splide-2">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<div class="cases_sample">
									<div class="cases_sapmple-item">
										<div class="cases_wrapper-image">
											<span class="cases_sapmple-mark">Кейсы</span>
											<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
										</div>
										<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
										<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
									</div>
								</div>
							</li>
							<li class="splide__slide">
								<div class="cases_sample">
									<div class="cases_sapmple-item">
										<div class="cases_wrapper-image">
											<span class="cases_sapmple-mark">Кейсы</span>
											<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
										</div>
										<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
										<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
									</div>
								</div>
							</li>
							<li class="splide__slide">
								<div class="cases_sample">
									<div class="cases_sapmple-item">
										<div class="cases_wrapper-image">
											<span class="cases_sapmple-mark">Кейсы</span>
											<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
										</div>
										<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
										<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="splide" id="case-splide-3">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<div class="features">
									<div class="features__item">
										<a href="index.html" class="features_item-link">Какие встроенные модули есть в нашей теме</a>
										<span class="features_item-scope">22.4к</span>
										<p class="features_item-text">Разберем подробно, какие модули Такие вот дела тут описание статьи сюда вот пойдет</p>
									</div>
									<div class="features__item">
										<a href="index.html" class="features_item-link">Какие встроенные модули есть в нашей теме</a>
										<span class="features_item-scope">22.4к</span>
										<p class="features_item-text">Разберем подробно, какие модули Такие вот дела тут описание статьи сюда вот пойдет</p>
									</div>
									<div class="features__item">
										<a href="index.html" class="features_item-link">Какие встроенные модули есть в нашей теме</a>
										<span class="features_item-scope">22.4к</span>
										<p class="features_item-text">Разберем подробно, какие модули Такие вот дела тут описание статьи сюда вот пойдет</p>
									</div>
									<div class="features__item">
										<a href="index.html" class="features_item-link">Какие встроенные модули есть в нашей теме</a>
										<span class="features_item-scope">22.4к</span>
										<p class="features_item-text">Разберем подробно, какие модули Такие вот дела тут описание статьи сюда вот пойдет</p>
									</div>
								</div>
							</li>
							<li class="splide__slide">
								<div class="features">
									<div class="features__item">
										<a href="index.html" class="features_item-link">Какие встроенные модули есть в нашей теме</a>
										<span class="features_item-scope">22.4к</span>
										<p class="features_item-text">Разберем подробно, какие модули Такие вот дела тут описание статьи сюда вот пойдет</p>
									</div>
									<div class="features__item">
										<a href="index.html" class="features_item-link">Какие встроенные модули есть в нашей теме</a>
										<span class="features_item-scope">22.4к</span>
										<p class="features_item-text">Разберем подробно, какие модули Такие вот дела тут описание статьи сюда вот пойдет</p>
									</div>
									<div class="features__item">
										<a href="index.html" class="features_item-link">Какие встроенные модули есть в нашей теме</a>
										<span class="features_item-scope">22.4к</span>
										<p class="features_item-text">Разберем подробно, какие модули Такие вот дела тут описание статьи сюда вот пойдет</p>
									</div>
									<div class="features__item">
										<a href="index.html" class="features_item-link">Какие встроенные модули есть в нашей теме</a>
										<span class="features_item-scope">22.4к</span>
										<p class="features_item-text">Разберем подробно, какие модули Такие вот дела тут описание статьи сюда вот пойдет</p>
									</div>
								</div>
							</li>
							<li class="splide__slide">
								<div class="features">
									<div class="features__item">
										<a href="index.html" class="features_item-link">Какие встроенные модули есть в нашей теме</a>
										<span class="features_item-scope">22.4к</span>
										<p class="features_item-text">Разберем подробно, какие модули Такие вот дела тут описание статьи сюда вот пойдет</p>
									</div>
									<div class="features__item">
										<a href="index.html" class="features_item-link">Какие встроенные модули есть в нашей теме</a>
										<span class="features_item-scope">22.4к</span>
										<p class="features_item-text">Разберем подробно, какие модули Такие вот дела тут описание статьи сюда вот пойдет</p>
									</div>
									<div class="features__item">
										<a href="index.html" class="features_item-link">Какие встроенные модули есть в нашей теме</a>
										<span class="features_item-scope">22.4к</span>
										<p class="features_item-text">Разберем подробно, какие модули Такие вот дела тут описание статьи сюда вот пойдет</p>
									</div>
									<div class="features__item">
										<a href="index.html" class="features_item-link">Какие встроенные модули есть в нашей теме</a>
										<span class="features_item-scope">22.4к</span>
										<p class="features_item-text">Разберем подробно, какие модули Такие вот дела тут описание статьи сюда вот пойдет</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="cases_container container">
				<h2 class="cases_title">
					Материалы 3
				</h2>
				<div class="lifehack">
					<div class="lifehack_wrapper">
						<img src="./images/lifehack.webp" alt="Фотография поста" class="lifehack_image">
						<div class="lifehack_wrapper-item">
							<span class="lifehack_span">Лайфхаки</span>
							<h3 class="lifehack_title">Настройки внешнего вида и не только</h3>
							<p class="lifehack_text">Рассмотрим как мы можем настроить внешний вид и какие</p>
						</div>
					</div>
					<div class="lifehack_wrapper">
						<img src="./images/lifehack.webp" alt="Фотография поста" class="lifehack_image">
						<div class="lifehack_wrapper-item">
							<span class="lifehack_span">Лайфхаки</span>
							<h3 class="lifehack_title">Настройки внешнего вида и не только</h3>
							<p class="lifehack_text">Рассмотрим как мы можем настроить внешний вид и какие</p>
						</div>
					</div>
					<div class="lifehack_wrapper">
						<img src="./images/lifehack.webp" alt="Фотография поста" class="lifehack_image">
						<div class="lifehack_wrapper-item">
							<span class="lifehack_span">Лайфхаки</span>
							<h3 class="lifehack_title">Настройки внешнего вида и не только</h3>
							<p class="lifehack_text">Рассмотрим как мы можем настроить внешний вид и какие</p>
						</div>
					</div>
					<div class="lifehack_wrapper">
						<img src="./images/lifehack.webp" alt="Фотография поста" class="lifehack_image">
						<div class="lifehack_wrapper-item">
							<span class="lifehack_span">Лайфхаки</span>
							<h3 class="lifehack_title">Настройки внешнего вида и не только</h3>
							<p class="lifehack_text">Рассмотрим как мы можем настроить внешний вид и какие</p>
						</div>
					</div>

				</div>
				<div class="splide" id="case-splide-4">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<div class="cases_sample">
									<div class="cases_sapmple-item">
										<div class="cases_wrapper-image">
											<span class="cases_sapmple-mark">Кейсы</span>
											<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
										</div>
										<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
										<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
									</div>
								</div>
							</li>
							<li class="splide__slide">
								<div class="cases_sample">
									<div class="cases_sapmple-item">
										<div class="cases_wrapper-image">
											<span class="cases_sapmple-mark">Кейсы</span>
											<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
										</div>
										<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
										<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
									</div>
								</div>
							</li>
							<li class="splide__slide">
								<div class="cases_sample">
									<div class="cases_sapmple-item">
										<div class="cases_wrapper-image">
											<span class="cases_sapmple-mark">Кейсы</span>
											<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
										</div>
										<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
										<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</main>

{% endblock %}
