{% block slider_mobile_2 %}
	<div class="splide" id="case-splide-2">
		<div class="splide__track">
			<ul class="splide__list">
				<li class="splide__slide">
					<div class="cases_sample">
						<div class="cases_sapmple-item">
							<div class="cases_wrapper-image">
								<span class="cases_sapmple-mark">Кейсы</span>
								<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
							</div>
							<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
							<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
						</div>
					</div>
				</li>
				<li class="splide__slide">
					<div class="cases_sample">
						<div class="cases_sapmple-item">
							<div class="cases_wrapper-image">
								<span class="cases_sapmple-mark">Кейсы</span>
								<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
							</div>
							<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
							<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
						</div>
					</div>
				</li>
				<li class="splide__slide">
					<div class="cases_sample">
						<div class="cases_sapmple-item">
							<div class="cases_wrapper-image">
								<span class="cases_sapmple-mark">Кейсы</span>
								<img src="./images/slide-image.webp" alt="Фото нашего кейса" class="cases_sapmple-image">
							</div>
							<h3 class="cases_sapmple-title cases_sapmple-title--slider">Запуск СМИ для FinTech-маркетплейса</h3>
							<p class="cases_sample-subtitle cases_sample-subtitle--slider">Рассмотрим как мы можем настроить внешний вид и какие</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
