.case-category-link {
	margin-right: 20px;

	font-size: 18px;
	line-height: normal;
	font-family: "Rubik-Medium", sans-serif;
	text-decoration: none;

	&:last-of-type {
		margin: 0;
	}

	&--active {
		font-weight: 700;
		font-family: "Rubik-Bold", sans-serif;
		color: #2747b9;
	}
}

.case-category {
	display: none;

	@include media-tablet-desktop {
		display: block;
	}
}
