.case-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 48px;
	padding: 0;
	list-style: none;
}

.case-list_link {
	display: block;
	margin: 0 12px 12px 0;
	padding: 6px 12px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	font-family: "Rubik-Regular", sans-serif;
	text-decoration: none;
	color: #00186b;
	background: #ffffff;
	border-radius: 10px;

	@include media-desktop {
		padding: 12px 24px;
		font-size: 26px;
	}
}
