.command {
	padding: 48px 15px;

	@include media-desktop {
		padding: 116px 0;
	}
}

.command__title {
	margin: 0 0 24px;
	font-weight: 700;
	font-size: 30px;
	line-height: normal;
	font-family: "Rubik-Bold", sans-serif;
	color: #001767;

	@include media-desktop {
		font-size: 45px;
	}
}

.command__selected-wrapper {
	display: flex;
	align-items: center;
	margin: 0 0 24px;
}

.command__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0;
	padding: 0;
	list-style: none;

	@include media-tablet-desktop {
		grid-template-columns: repeat(4, 1fr);
	}
}

.command__image-wrapper {
	margin-bottom: 12px;
}

.command__list-image {
	width: 129px;
	height: auto;

	@include media-desktop {
		width: 222px;
		height: auto;
	}
}

.command__list li {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;

	@include media-desktop {
		padding: 26px 34px;
	}
}

.command__list-name {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: "Rubik-Regular", sans-serif;
	text-align: center;

	@include media-desktop {
		margin: 0 0 12px;
		font-size: 20px;
	}
}

.command__list-role {
	display: block;
	margin: 0 0 18px;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	font-family: "Rubik-Bold", sans-serif;
	text-align: center;
	color: #535455;
}

.command__list-author-cite {
	display: none;
	margin: 0 0 18px;
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
	line-height: 22px;
	font-family: "Rubik-Regular", sans-serif;

	@include media-desktop {
		display: block;
		text-align: center;
	}
}

.command__text {
	font-style: italic;
	font-size: 14px;
	text-align: center;
	color: #00186b;

	@include media-desktop {
		max-width: 1130px;
		margin: 96px 0 0;
		font-size: 24px;
	}
}

.command__button {
	width: 100%;
	margin: 24px 0 0;
	padding: 10px 24px;
	font-weight: 700;
	font-size: 16px;
	line-height: normal;
	font-family: "Rubik-Bold", sans-serif;
	color: #ffffff;
	background-color: #2747b9;
	border: none;
	border-radius: 10px;
	cursor: pointer;

	@include media-desktop {
		display: none;
	}
}

.command__selected-categories {
	flex-shrink: 0;
	margin-right: 6px;

	@include media-desktop {
		display: none;
	}
}

.command-choice-container {
	display: flex;
	width: 100%;

	@include media-desktop {
		display: none;
	}
}

.command-js-choice .choices__item[aria-selected="true"] {
	font-weight: 700;
	font-family: "Rubik-Bold", sans-serif;
	color: #2747b9;
}
