.description-container {
	@include media-desktop {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0 5%;
		margin-top: 100px;
	}
}

.descripton-container_item {
	margin: 0 0 48px;

	@include media-desktop {
		font-size: 20px;
	}
}
