.desktop-container {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;

	@include media-desktop {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5%;
		margin-top: 100px;
	}
}
