.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 15px 20px;
	background-color: #ecf0f3;
}

.header__nav {
	display: none;

	@include media-desktop {
		display: block;
	}
}

.header__nav-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header__nav-list > li {
	margin-right: 20px;

	&:last-child {
		margin: 0;
	}
}

.header__nav-link {
	font-weight: 700;
	font-size: 20px;
	line-height: normal;
	font-family: "Rubik-Bold", sans-serif;
	text-decoration: none;
	color: #2747b9;
	cursor: pointer;

	&:hover {
		color: #3d3e3f;
	}
}

.header__aside-nav-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header__aside-nav-list > li {
	margin-right: 20px;

	&:last-child {
		margin-right: 0;
	}
}

.header__aside-nav-link {
	display: block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;

	&--mail {
		background-image: url("../images/mail-icon.svg");
	}

	&--tg {
		background-image: url("../images/telegram.svg");
	}

	&--vc {
		background-image: url("../images/vc.svg");
	}
}
