.hero {
	background-image: url("../images/index-bg-mobile.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&--about {
		background-image: url("../images/about-bg-mobile.webp");
	}

	@include media-tablet-desktop {
		background-image: url("../images/index-bg.webp");
	}
}

.hero_container {
	box-sizing: border-box;
	min-height: 445px;
	padding: 50px 30px;

	&--cases {
		padding: 110px 30px;
	}
}

.hero_title {
	margin: 0 0 6px;
	font-weight: 700;
	font-size: 30px;
	line-height: normal;
	font-family: "Rubik-Bold", sans-serif;
	text-align: center;
	color: #ffffff;

	@include media-tablet-desktop {
		max-width: 550px;
		font-size: 45px;
		text-align: left;
	}
}

.hero_subtitle {
	margin: 0 0 24px;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	font-family: "Rubik-Regular", sans-serif;
	text-align: center;
	color: #ffffff;
}

.hero_link {
	display: block;
	max-width: 240px;
	margin: 0 auto;
	padding: 12px 20px;
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	color: #2747b9;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 15px 30px -18px rgba(0, 0, 0, 0.5);
}
