.menu-button {
	display: block;
	width: 15px;
	height: 15px;
	padding: 15px;
	background-image: url("../images/burger.svg");
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}
