.order {
	padding: 25px 15px;

	@include media-desktop {
		padding: 0;
		font-size: 45px;
	}
}

.order__title {
	margin: 0 0 24px;
	font-weight: 700;
	font-size: 30px;
	line-height: normal;
	font-family: "Rubik-Bold", sans-serif;
	text-align: center;
	color: #001767;

	@include media-desktop {
		margin: 0 0 40px;
		font-size: 45px;
		text-align: left;
	}
}

.order__form {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;

	@include media-desktop {
		max-width: 712px;
		margin: 0;
	}
}

.order__form-input {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 24px;
	padding: 10px 24px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	font-family: "Rubik-Regular", sans-serif;
	background-color: transparent;
	border: 1px solid #2747b9;
	border-radius: 10px;

	&::placeholder {
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		font-family: "Rubik-Regular", sans-serif;
		color: rgba(0, 0, 0, 0.5);
	}

	&:focus-visible {
		border: 2px solid #2747b9;
		outline: none;
	}
}

.order-form-button {
	padding: 10px 24px;
	font-weight: 700;
	font-size: 16px;
	line-height: normal;
	font-family: "Rubik-Bold", sans-serif;
	color: #ffffff;
	background-color: #2747b9;
	border: 1px solid #2747b9;
	border-radius: 10px;
	cursor: pointer;
}

.order-link {
	margin-top: 10px;
	padding: 10px 24px;
	font-weight: 700;
	font-size: 16px;
	line-height: normal;
	font-family: "Rubik-Bold", sans-serif;
	text-decoration: none;
	text-align: center;
	color: #2747b9;
	background-color: transparent;
	border: 1px solid #2747b9;
	border-radius: 10px;
	box-shadow: 0 15px 30px -18px rgba(0, 0, 0, 0.3);

	@include media-desktop {
		margin: 0;
	}
}

.order__wrapper {
	@include media-desktop {
		display: flex;
		justify-content: space-between;
	}
}

.order__container {
	@include media-desktop {
		padding: 100px 0 50px;
	}
}

.order__img {
	@include media-desktop {
		display: flex;
		align-items: flex-start;
	}
}

.order__img img {
	display: none;

	@include media-desktop {
		display: block;
		margin-left: 10px;
	}
}
