.requirements-container__list {
	margin: 0 0 48px;
	padding: 0;
	list-style: none;

	@include media-tablet-desktop {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;

		&--types-content {
			display: block;
		}
	}
}

.requirements-container__list li {
	display: flex;
	align-items: baseline;
	margin: 0 0 15px;
	padding: 12px 24px;
	background-color: #ffffff;
	border-radius: 10px;

	@include media-tablet-desktop {
		margin: 0;
	}
}

.requirements-container__list-span {
	margin-right: 10px;
}

.requirements-container__list-text {
	margin: 0;

	@include media-tablet-desktop {
		font-size: 20px;
	}
}

.requirements-container {
	@include media-tablet-desktop {
		margin-top: 100px;
	}

	&--grid-one {
		margin: 0;
	}

	&--grid-second {
		margin: 0;
	}
}
