.my-carousel-progress {
  margin: 25px 0 0;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.my-carousel-progress-bar {
  width: 100px;
  height: 7px;
  background: #00186b;
  border-radius: 10px;
  transition: width 0.4s ease;
}