.solutions-container__content {
	margin: 0 0 30px;

	&:last-child {
		margin: 0 0 48px;
	}

	@include media-tablet-desktop {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
	}
}

.solutions-container__text-wrapper {
	display: flex;
}

.solutions-container__span {
	margin-right: 10px;
}

.solutions-container__title {
	margin: 0 0 24px;
	font-weight: 700;
	font-size: 16px;
	line-height: 125%;
	font-family: "Rubik-Bold", sans-serif;

	@include media-tablet-desktop {
		font-size: 20px;
	}
}

.solutions-container__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.solutions-container__list li {
	display: flex;
	align-items: baseline;
	margin: 0 0 24px;
}

.solutions-container__list-text {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	font-family: "Rubik-Regular", sans-serif;

	@include media-tablet-desktop {
		font-size: 20px;
	}
}

.solutions-container {
	@include media-tablet-desktop {
		margin-top: 100px;
	}
}
