.videos {
	padding: 24px 15px 48px;
	background: rgb(255, 255, 255);
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(39, 71, 185, 1) 50%);
}

.videos__title {
  font-weight: 700;
	font-size: 30px;
	line-height: normal;
	font-family: "Rubik-Bold", sans-serif;
  color: #ffffff;
}
